@font-face {
    font-family: 'norsebold';
    src: url('/assets/fonts/norse-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.side,
.main {
    border: 1px solid black;
}

.side {
    background-image: url(assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: max(700px, 30vw);
    color: aliceblue;
}

.darken {
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 5.5vw;
}

.darken>img {
    width: min(25%, 150px);
    height: auto;
}

.darken>h1 {
    display: inline;
    font-size: clamp(40px, 10vw, 9.3rem);
    font-family: norsebold, Helvetica, sans-serif;
    text-align: center;
}