/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset End */

@font-face {
    font-family: 'norsebold';
    src: url('/assets/fonts/norse-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --side-width: max(700px, 30vw);
    --marg-bot: 25px;
    --green-me: #596D48;
    --green-li: #99bb7b;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

em {
    font-style: italic;
}

/* .side,
.main {
    border: 1px solid black;
} */

.side {
    background-image: url(assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: var(--side-width);
    color: aliceblue;
}

.darken {
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 5.5vw;
    padding-top: 2vh;
    position: relative;
    top: 20vh;
}

.darken>img {
    width: min(25%, 150px);
    height: auto;
}

.darken>h1 {
    display: inline;
    font-size: clamp(40px, 10vw, 7rem);
    font-family: norsebold, Helvetica, sans-serif;
    position: relative;
    bottom: calc(5px + 1.5vh);
}

.side>.credit {
   position: absolute;
   top: 95vh;
   left: 10vw;
}

.main {
    background-color: rgb(220, 220, 220);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.main>div,
form>div {
    padding: calc(15px + 1.5vw);
}

.main>.text-head {
    margin-top: 10vh;
    line-height: 1.3;
    font-size: large;
    font-weight: bold;
}

.text-head>.bottom {
    line-height: 3;
}

.form-container {
    background-color: whitesmoke;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

legend {
    font-size: large;
    font-weight: bold;
    margin-bottom: var(--marg-bot);
}

label {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: rgb(94, 94, 94);
}

input {
    border: 1.5px solid #E5E7EB;
    border-radius: 5px;
    height: 1.8em;
    font-size: 0.9rem;
    transition: 0.3s;
    outline: none;
}

input:focus {
    border: 1.5px solid lightskyblue;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}

.section {
    margin-bottom: var(--marg-bot);
    display: flex;
    column-gap: 5vw;
}

button {
    color: white;
    background-color: var(--green-me);
    border: 1px solid var(--green-me);
    border-radius: 4px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: var(--marg-bot);
    transition: 0.3s;
}

button:active {
    border: 1px solid var(--green-li);
    background-color: var(--green-li);
}

a {
    text-decoration: none;
    color: var(--green-me);
}